/Assignment1/*.zip
/Assignment1/*.exe
/.DS_Store
/Assignment1/.DS_Store
DMvenv
/.vscode
/Assignment1/__pycache__
Assignment1/output_500.data
/Assignment1/IBM_weka.csv
/Assignment1/GroceryStoreDataSet_weka.csv
/Assignment1/generate_weka.py
/Assignment1/data.py
/Assignment1/plotcomp.py
/Assignment1/*.html
Assignment2/Batting
Assignment2/Batting.png
Batting
Assignment2/__pycache__/
Assignment2/.ipynb_checkpoints
Assignment2/.DS_Store
Assignment2/__pycache__/player_data_generator.cpython-37.pyc
